{# [START form] #} {% extends "header.html"%} {% block content %}
<script src="static/order.js"></script>

<div>
    <div class="container" style="max-width:75%">

        <div class="modal-boay">
            <div class="col-md-12 order-confirmation">
                <h4 style="margin-top:2vh">Check the details</h4>
                <div class="row">
                    <div class="media col-md-3">
                        <img src="https://www.w3schools.com/w3css/img_lights.jpg" />
                    </div>

                    <div class="col-md-9">
                        <div class="form-group" style="font-size:1.5vh col-md-12">
                            <div class="form-group row">
                                <label for="item-title" class="col-sm-3 col-form-label">Product Title</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control-plaintext unwriteable-text" readonly id="item-title" v-model="item.title">
                                </div>

                                <label for="item-seller" class="col-sm-3 col-form-label">Seller Name</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control-plaintext unwriteable-text" readonly id="item-seller" v-model="item.sellername">
                                </div>
                            </div>

                            <div class="col-md-12 form-group" style="padding:0">
                                <label for="description">Decription</label>
                                <textarea readonly class="form-control-plaintext unwriteable-text" v-model="item.description"></textarea>
                            </div>

                            <div class="col-md-12 form-group row" style="padding:0">
                                <label for="item-price" class="col-md-3 col-form-label">Price</label>

                                <input type="text" class="form-control-plaintext unwriteable-text col-md-9" readonly id="item-price" v-model="item.price">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" id="checkoutform" style="margin-top:5vh">
                <div class="form-group row">
                    <label for="transactionType" class="col-sm-4 col-form-label">Transaction Type</label>
                    <div class="col-sm-8">
                        <select v-model="transactionType" v-on:change="checkType">
                            <option>Face to Face</option>
                            <option>Online</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row" id="addressmayhide">
                    <label for="send-address" class="col-sm-4 col-form-label">Sending address</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control-plaintext writeable-text" id="send-address" v-model="sendAddress">
                    </div>
                </div>

                <a class="btn btn-primary mb-2" style="float:right" v-on:click="checkout">Checkout</a>

            </div>
        </div>
    </div>

    {% endblock %} {# [END form] #}