{# [START form] #} {% extends "header.html"%} {% block content %}


    <div class="container" style="max-width:75%">

        <div class="modal-boay">
            <div class="col-md-12 order-confirmation">
                <h4 style="margin-top:2vh">Review Your Order</h4>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group" style="font-size:1.5vh col-md-12">
                            <div class="form-group">
                                <label for="item-title" class="col-form-label"><b>Product Title</b></label>
                                <a class="form-control-plaintext unwriteable-text" href="/SellerPost?postId={{item.postId}}">{{item.title}}</a>
                            </div>

                            <div class="form-group">
                                <label for="description"><b>Description</b></label>
                                <div class="form-control-plaintext unwriteable-text">{{item.description}}</div>
                            </div>

                            <div class="form-group">
                                <label for="item-price" class="col-form-label"><b>Price</b></label>

                                <div type="text" class="form-control-plaintext unwriteable-text" id="item-price" style="color:#B12704">${{item.price}}</div>

                            </div>
                        </div>
                    </div>

                    <div class="media col-md-4">
                        {% if item.image %}
                        <img src="data:;base64,{{ item.image }}" /> {% endif %}
                    </div>
                </div>
            </div>

            <div id="checkoutform" style="margin-top:5vh">
                <div v-if="errors.length" class="alertdiv">
                    <b>Please correct the following error(s):</b>
                    <ul>
                        {% raw %}
                        <li v-for="error in errors">{{ error }}</li>
                        {% endraw %}
                    </ul>
                </div>

                <div class="form-group">
                    <label for="transactionType" class="col-form-label">Transaction Type*</label>
                    <select class="form-control" v-model="transactionType" v-on:change="checkType" v-bind:disabled="ifCheck?true:false">
                        <option>Face to Face</option>
                        <option>Online</option>
                    </select>
                </div>

                <!-- <div class="form-group row" id="addressmayhide">
                    <label for="rcv-address" class="col-sm-4 col-form-label">Receive address</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control-plaintext writeable-text" id="rcv-address" v-model="rcvAddress">
                    </div>
                </div> -->


                <!-- address-line1 input-->
                <div class="form-group" id="addressmayhide">
                    <div class="form-group">
                        <label class="col-form-label">Address Line 1*</label>
                        <input id="address-line1" name="address-line1" type="text" v-model="rcvAddress.ad1" class="form-control" v-bind:readonly="ifCheck?true:false">
                        <p class="help-block">Street address, P.O. box, company name, c/o</p>

                    </div>
                    <!-- address-line2 input-->
                    <div class="form-group">
                        <label class="col-form-label">Address Line 2</label>
                        <input id="address-line2" name="address-line2" type="text" v-model="rcvAddress.ad2" class="form-control" v-bind:readonly="ifCheck?true:false">
                        <p class="help-block">Apartment, suite , unit, building, floor, etc.</p>

                    </div>
                    <!-- city input-->
                    <div class="form-group">
                        <label class="col-form-label">City / Town*</label>
                        <input id="city" name="city" type="text" v-model="rcvAddress.city" class="form-control" v-bind:readonly="ifCheck?true:false">
                        <p class="help-block"></p>

                    </div>
                    <!-- state select -->
                    <div class="form-group">
                        <label class="col-form-label">State*</label>

                        <select v-bind:disabled="ifCheck?true:false" v-model="rcvAddress.state" id="state" name="state" class="form-control">
                            <option value="" selected="selected">(please select a State)</option>
                            <option value="Alaska">Alaska</option>
                            <option value="Alabama">Alabama</option>
                            <option value="Arkansas">Arkansas</option>
                            <option value="Arizona">Arizona</option>
                            <option value="California">California</option>
                            <option value="Colorado">Colorado</option>
                            <option value="Connecticut">Connecticut</option>
                            <option value="District of Columbia">District of Columbia</option>
                            <option value="Delaware">Delaware</option>
                            <option value="Florida">Florida</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Hawaii">Hawaii</option>
                            <option value="Iowa">Iowa</option>
                            <option value="Idaho">Idaho</option>
                            <option value="Illinois">Illinois</option>
                            <option value="Indiana">Indiana</option>
                            <option value="Kansas">Kansas</option>
                            <option value="Kentucky">Kentucky</option>
                            <option value="Louisiana">Louisiana</option>
                            <option value="Massachusetts">Massachusetts</option>
                            <option value="Maryland">Maryland</option>
                            <option value="Maine">Maine</option>
                            <option value="Michigan">Michigan</option>
                            <option value="Minnesota">Minnesota</option>
                            <option value="Missouri">Missouri</option>
                            <option value="Mississippi">Mississippi</option>
                            <option value="Montana">Montana</option>
                            <option value="North Carolina">North Carolina</option>
                            <option value="North Dakota">North Dakota</option>
                            <option value="Nebraska">Nebraska</option>
                            <option value="New Hampshire">New Hampshire</option>
                            <option value="New Jersey">New Jersey</option>
                            <option value="New Mexico">New Mexico</option>
                            <option value="Nevada">Nevada</option>
                            <option value="New York">New York</option>
                            <option value="Ohio">Ohio</option>
                            <option value="Oklahoma">Oklahoma</option>
                            <option value="Oregon">Oregon</option>
                            <option value="Pennsylvania">Pennsylvania</option>
                            <option value="Puerto Rico">Puerto Rico</option>
                            <option value="Rhode Island">Rhode Island</option>
                            <option value="South Carolina">South Carolina</option>
                            <option value="South Dakota">South Dakota</option>
                            <option value="Tennessee">Tennessee</option>
                            <option value="Texas">Texas</option>
                            <option value="Utah">Utah</option>
                            <option value="Virginia">Virginia</option>
                            <option value="Vermont">Vermont</option>
                            <option value="Washington">Washington</option>
                            <option value="Wisconsin">Wisconsin</option>
                            <option value="West Virginia">West Virginia</option>
                            <option value="Wyoming">Wyoming</option>
                        </select>

                    </div>
                </div>

                <div class="form-group row" v-if="!ifCheck">
                    <div class="form-group col-md-10"></div>
                    <div class="form-group col-md-2">
                        <a class="form-control btn btn-primary mb-2" v-on:click="confirm" style="text-align:center;color:white">Confirm</a>
                    </div>
                </div>
                <div class="form-group row" v-if="ifCheck">
                    <div class="form-group col-md-8"></div>

                    <div class="form-group col-md-2">
                        <button class="form-control btn-secondary mb-2" v-on:click="review">
                            <i class="fas fa-angle-left" style="margin-right: 1em"></i>Back</button>
                    </div>

                    <div class="form-group col-md-2">
                        <a class="form-control btn btn-primary mb-2" v-on:click="checkout" style="text-align:center;color:white">Checkout</a>
                        <div style="color:rgb(27, 143, 23);font-size:1.2vh">
                            Click Again to Checkout!
                        </div>
                    </div>

                    <!-- <div class="form-group col-md-2">
                        <div style="color:rgb(233, 59, 16);font-size:1.2vh">
                            Click this to think again!
                        </div>
                        <a class="form-control btn btn-primary mb-2" v-on:click="review" style="text-align:center;color:white">Review</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <script src="static/order.js"></script>
    {% endblock %} {# [END form] #}