{# [START form] #}
{% extends "header.html"%}

{% block content %}
<link rel="stylesheet" href="static/portal.css">
                    
  <div class="div-center" > 
    <h2 class="header text-center">{{session.username}}'s Information</h2>
    <table class="table table-user-information">
      <tbody>
        <tr>
          <td style="text-align:center">Zipcode</td>
          <td style="text-align:center"> {{user.zipcode}}</td>
        </tr>

        <tr>
          <td style="text-align:center">Email</td>
          <td style="text-align:center">{{user.email}}</td>
        
      </tbody>
    </table>
    <br>
    <a class="btn btn-primary col-xs-2 col-sm-2 col-md-2 col-lg-2" style="float:right">Edit</a>

  </div>
{% endblock %}
{# [END form] #}