{# [START form] #} {% extends "header.html"%} {% block content %}
<script src="static/portal.js"></script>
<script src="static/dist/bootstrap-table.min.js"></script>
<link rel="stylesheet" href="static/dist/bootstrap-table.min.css"></link>
<br>
<div class="modal-body" style="min-height:75vh">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2" style="border: 1px solid #e1e2e5;min-height:75vh">
        <ul class="nav flex-column nav-pills">
          <li class="nav-item" style="margin-top: 5px">
            <a class="nav-link active" href="#info-tab" data-toggle="tab">Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#buy-tab" data-toggle="tab">Buy Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sell-tab" data-toggle="tab">Sell Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#message-tab" data-toggle="tab">Message</a>
          </li>
        </ul>
      </div>

      <div class="col-md-10" style="border: 1px solid #e1e2e5;min-height:75vh">

        <div id="myTabContent" class="tab-content">
          <div id="info-tab" class="tab-pane in active">

            <form id="user-info" class="col-md-10" style="margin-top:5vh;margin-left:auto;margin-right:auto;">
              {% raw %}
              <div class="form-group row">
                <label for="staticUserName" class="col-sm-4 col-form-label">User Name</label>
                <div class="col-sm-8">
                  <input type="text" readonly class="form-control-plaintext unwriteable-text" id="staticUserName" v-model="user.username">
                </div>
              </div>

              <div class="form-group row">
                <label for="Email" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control-plaintext writeable-text" id="Email" v-model="user.email">
                </div>
              </div>

              <div class="form-group row">
                <label for="zipcode" class="col-sm-4 col-form-label">Zipcode</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control-plaintext writeable-text" id="staticzipcode" v-model="user.zipcode">
                </div>
              </div>

              <div class="form-group row">
                <label for="phone" class="col-sm-4 col-form-label">Phone Number</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control-plaintext writeable-text" id="staticphone" v-model="user.phonenumber">
                </div>
              </div>

              <div class="form-group row">
                <label for="address" class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control-plaintext writeable-text" id="staticaddress" v-model="user.address">
                </div>
              </div>

              <br>
              <a class="btn btn-primary mb-2" style="float:right;color:white" v-on:click="changeInfo">Save</a>
            </form>
            {% endraw %}

          </div>

          <div id="buy-tab" class="tab-pane fade">
            <table id="buy-post-table"></table>
          </div>

          <div id="sell-tab" class="tab-pane fade">
            <table id="sell-post-table"></table>
          </div>

          <div id="message-tab" class="tab-pane fade">
            Coming soon...
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
{% endblock %} {# [END form] #}