{# [START form] #} {% extends "header.html"%} {% block content %}

<body>
<!-- Sidebar Widgets Column -->
<div id="postlist"  class="container-fluid">
  <div class="row"> 
    <div class="col-lg-2">
      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header text-center">Category</h5>
        <div class="card-body">
            <div>
              <button v-if="filter_category_index == 'ALL'" class="btn btn-block btn-primary" v-on:click="set_category('ALL')" > ALL </button>
              <button v-else class="btn btn-block " v-on:click="set_category('ALL')" > ALL </button>
              <button v-if="filter_category_index == 'Beauty'" class="btn btn-block btn-primary" v-on:click="set_category('Beauty')" > Beauty </button>
              <button v-else class="btn btn-block " v-on:click="set_category('Beauty')" > Beauty </button>
              <button v-if="filter_category_index == 'Books'" class="btn btn-block btn-primary" v-on:click="set_category('Books')" > Books </button>
              <button v-else class="btn btn-block" v-on:click="set_category('Books')" > Books </button>
              <button v-if="filter_category_index == 'Electronics'" class="btn btn-block btn-primary" v-on:click="set_category('Electronics')" > Electronics </button>
              <button v-else class="btn btn-block" v-on:click="set_category('Electronics')" > Electronics </button>
              <button v-if="filter_category_index == 'Clothing'" class="btn btn-block btn-primary" v-on:click="set_category('Clothing')" > Clothing </button>
              <button v-else class="btn btn-block" v-on:click="set_category('Clothing')" > Clothing </button>
              <button v-if="filter_category_index == 'Accessories'" class="btn btn-block btn-primary" v-on:click="set_category('Accessories')" > Accessories </button>
              <button v-else class="btn btn-block" v-on:click="set_category('Accessories')" > Accessories </button>
              <button v-if="filter_category_index == 'Kitchen'" class="btn btn-block btn-primary" v-on:click="set_category('Kitchen')" > Kitchen </button>
              <button v-else class="btn btn-block" v-on:click="set_category('Kitchen')" > Kitchen </button>
              <button v-if="filter_category_index == 'Music'" class="btn btn-block btn-primary" v-on:click="set_category('Music')" > Music </button>
              <button v-else class="btn btn-block" v-on:click="set_category('Music')" > Music </button>
              <button v-if="filter_category_index == 'Software'" class="btn btn-block btn-primary" v-on:click="set_category('Software')" > Software </button>
              <button v-else class="btn btn-block" v-on:click="set_category('Software')" > Software </button>
              <button v-if="filter_category_index == 'Outdoor'" class="btn btn-block btn-primary" v-on:click="set_category('Outdoor')" > Outdoor </button>
              <button v-else class="btn btn-block" v-on:click="set_category('Outdoor')" > Outdoor </button>
              <button v-if="filter_category_index == 'Furniture'" class="btn btn-block btn-primary" v-on:click="set_category('Furniture')" > Furniture </button>
              <button v-else class="btn btn-block" v-on:click="set_category('Furniture')" > Furniture </button>
            </div>
        </div>
      </div>
    </div>


    {% raw %}
    <div class="col-lg-10 my-3" style="z-index:9">
      <div id="filter-bar" class="table sticky-top  bg-light mt-2 rounded" style="border: 1px solid #e1e2e5;">
        <div class="row row-bordered">
          <div class="col-sm-12">
            <form class="form-inline">
              <label class="control-label my-2  mx-2"  style="width: 50px;">Posted</label>
              <select v-model="filter_post_time" id="filter-post-time" class="form-control" id="time" style="width: 175px;">
                <option value="0">N/A</option>
                <option value="1">6 hours</option>
                <option value="2">24 hours</option>
                <option value="3">7 days</option>
                <option value="4">1 month</option>
                <option value="5">3 months</option>
              </select>
              <label class="control-label" style="width: 50px;margin-left: 30px;margin-right: 36px">State</label>
              <select v-model="filter_loc" id="filter-location" class="form-control" id="state" name="state" style="width: 175px;">
                <option value="0">N/A</option>
                <option value="Alaska">Alaska</option>
                <option value="Alabama">Alabama</option>
                <option value="Arkansas">Arkansas</option>
                <option value="Arizona">Arizona</option>
                <option value="California">California</option>
                <option value="Colorado">Colorado</option>
                <option value="Connecticut">Connecticut</option>
                <option value="District of Columbia">District of Columbia</option>
                <option value="Delaware">Delaware</option>
                <option value="Florida">Florida</option>
                <option value="Georgia">Georgia</option>
                <option value="Hawaii">Hawaii</option>
                <option value="Iowa">Iowa</option>
                <option value="Idaho">Idaho</option>
                <option value="Illinois">Illinois</option>
                <option value="Indiana">Indiana</option>
                <option value="Kansas">Kansas</option>
                <option value="Kentucky">Kentucky</option>
                <option value="Louisiana">Louisiana</option>
                <option value="Massachusetts">Massachusetts</option>
                <option value="Maryland">Maryland</option>
                <option value="Maine">Maine</option>
                <option value="Michigan">Michigan</option>
                <option value="Minnesota">Minnesota</option>
                <option value="Missouri">Missouri</option>
                <option value="Mississippi">Mississippi</option>
                <option value="Montana">Montana</option>
                <option value="North Carolina">North Carolina</option>
                <option value="North Dakota">North Dakota</option>
                <option value="Nebraska">Nebraska</option>
                <option value="New Hampshire">New Hampshire</option>
                <option value="New Jersey">New Jersey</option>
                <option value="New Mexico">New Mexico</option>
                <option value="Nevada">Nevada</option>
                <option value="New York">New York</option>
                <option value="Ohio">Ohio</option>
                <option value="Oklahoma">Oklahoma</option>
                <option value="Oregon">Oregon</option>
                <option value="Pennsylvania">Pennsylvania</option>
                <option value="Puerto Rico">Puerto Rico</option>
                <option value="Rhode Island">Rhode Island</option>
                <option value="South Carolina">South Carolina</option>
                <option value="South Dakota">South Dakota</option>
                <option value="Tennessee">Tennessee</option>
                <option value="Texas">Texas</option>
                <option value="Utah">Utah</option>
                <option value="Virginia">Virginia</option>
                <option value="Vermont">Vermont</option>
                <option value="Washington">Washington</option>
                <option value="Wisconsin">Wisconsin</option>
                <option value="West Virginia">West Virginia</option>
                <option value="Wyoming">Wyoming</option>
              </select>
              <input v-model="filter_search" id="filter-search" class="form-control  float-left  my-2" type="search" placeholder="Search" aria-label="Search" style="width:220px;margin-left: 30px;" >
              <span class="badge badge-pill badge-info float-right my-3" style="margin-right:12px;margin-left: 24px"> {{filter_result_len}} items </span>
          </form>
          
          </div>
        </div>
        <div class="row row-bordered">
          <div class="col-sm-11">
            <div class="row">
              <div class="col-sm-12">
                <span class="label label-info my-3" style="margin-left:8px; margin-right:2.84px; width: 50px;">Sort by</span>
                <select v-model="sorting_ways" id="filter-price-sort" class="form-control my-2" id="price" name="price_sort" style="width: 175px; display: inline;">
                  <option value="0">N/A</option>
                  <option value="1">Price: low &nbsp;to high</option>
                  <option value="2">Price: high to low</option>
                  <option value="3">Rate: low &nbsp;to high</option>
                  <option value="4">Rate: high to low</option>
                </select>

                <label class="control-label my-3"  style="margin-left:34px;margin-right: 6px; width:68px;">Post Type</label>
                <select v-model="filter_post_type" id="filter-post-type" class="form-control" id="type" style="width: 175px; display: inline;">
                  <option value="0">Seller</option>
                  <option value="1">Buyer</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-sm-1">
            <button v-on:click="reset_filter"  class="btn btn-primary float-right mx-2" style="width:93px; margin-top:8.5px">Reset</button>
          </div>
        </div>
      </div>

      <div id="postitem" class="mt-3" style="margin-bottom:50px">
        <div v-if="filter_result === null">
        <h2 class="text-center">Loading, please wait...</h2>
        </div>
        <div v-else-if="filter_result_len === 0">
          <h5 style="padding-top:.33em"> No items match your choice</h5>
          <p style="margin-top:1em">Suggestions:</p>
          <ul style="margin-left:1.3em;margin-bottom:2em">
            <li>Try to use different filter.</li>
            <li>Make sure all words are spelled correctly.</li>
          </ul>
        </div>
        <div v-else v-for="item in filter_items">
          <div class="card mt-2">
            <div class="row">
              <div class="col-6">
                <div>
                  <div class="mx-3 my-2" v-if="item.buyerName" >
                    <h2>
                    <a class="card-title hide_overflow" v-bind:href="'BuyerPost\?postId=' + item.postId">
                      {{item.title}}
                    </a>
                    </h2>
                    <div class="text-left">
                      <span class="badge badge-pill badge-success">Need</span>
                    </div>
                  </div>
                  <div class="mx-3 my-2"  v-else-if="item.sellerName">
                    <h2>
                    <a class="card-title hide_overflow" v-bind:href="'SellerPost\?postId=' + item.postId">
                      {{item.title}}
                    </a>
                    </h2>
                    <div class="text-left" >
                      <span class="badge badge-pill badge-warning">For Sale</span>
                    </div>
                  </div>
                  <p class="card-text hide_overflow mx-3" >
                    <strong> Description : </strong> {{item.description}}
                  </p>
                </div>
              </div>
              <div class="col-3">
                <p class="row text-left my-3">Category : &nbsp
                  <a href="javascript:void(0);" v-on:click="set_category(item.category)"> {{item.category}}</a>
                </p> 
                <p v-if="item.location" class="row text-left">Location : &nbsp
                  <a href="javascript:void(0);" v-on:click="set_location(item.location)"> {{item.location}}</a>
                </p>
                <p class="row text-left">{{item.time}}</p>
              </div>
              <div class="col-3">
                <h4 class="text-danger">
                  <p v-if="item.price" class="text-right  mx-3 my-3">
                    ${{item.price}}
                  </p>
                  <p v-else class="text-right  mx-3 my-3">
                    Not Specify
                  </p>
                </h4>
                <div v-if="item.buyerName" class="text-right mx-3">
                  <i class="fas fa-user mx-1"></i>
                  <a v-bind:href="'UserInfo\?username=' + item.buyerName"> {{item.buyerName}}</a>
                </div>
                <div v-else-if="item.sellerName" class="text-right mx-3">
                  <i class="fas fa-user mx-1"></i>
                  <a v-bind:href="'UserInfo\?username=' + item.sellerName"> {{item.sellerName}}</a>
                </div>

                <div v-if="item.rating== null" class="text-right mx-3" style="margin-top:11px">
                  <i class="fas fa-tags" style="font-size: 10px;"></i>
                  <p style="display:inline;">Rating : </p>
                  <p style="display:inline;">No Review</p>
                </div>
                <div v-else class="text-right mx-3" style="margin-top:11px">
                  <i class="fas fa-tags" style="font-size: 10px;"></i>
                  <p style="display:inline;">Rating : </p>
                  <i style="display:inline;">{{item.rating }} / 5
                  </i>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col">
              <p class="card-text">
                <div v-if="item.image" class="product_image2 mx-3 my-3">
                  <a v-if="item.buyerName" v-bind:href="'BuyerPost\?postId=' + item.postId">
                    <img v-bind:src="'data:image/jpeg;base64,'+item.image" />
                  </a>
                  <a v-else-if="item.sellerName" v-bind:href="'SellerPost\?postId=' + item.postId">
                    <img v-bind:src="'data:image/jpeg;base64,'+item.image" />
                  </a>
                  <div v-if="item.favorite === true">
                    <div class="product_buttons_favorite text-center">
                      <button v-if="item.buyerName" v-on:click="deleteFavorite('Buyer', item.postId)" class="product_heart_favorite"><i class="fa fa-heart"></i></button>
                      <button v-else-if="item.sellerName" v-on:click="deleteFavorite('Seller', item.postId)" class="product_heart_favorite"><i class="fa fa-heart"></i></button>
                    </div>
                  </div>
                  <div v-else>
                    <div class="product_buttons text-center">
                      <button v-if="item.buyerName" v-on:click="addFavorite('Buyer', item.postId)" class="product_heart"><i class="fa fa-heart"></i></button>
                      <button v-else-if="item.sellerName" v-on:click="addFavorite('Seller', item.postId)" class="product_heart"><i  class="fa fa-heart"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              </p>
            </div>
          </div>
        </div>
         
        <div v-if="filter_result_len !== 0" class="my-2" style="margin-bottom:52px !important">
         <b-pagination size="lg" :total-rows="filter_result_len" v-model="currentPage" :per-page="ITEMS_PER_PAGE" :hide-ellipsis="true" align="center" :limit="limit_number">
         </b-pagination>
         <!-- <input size="2" placeholder="#" v-model="go_page"><button v-on:click="jump_to_page()" class="btn btn-primary btn-xs">Go</button> -->
        </div>
      </div>
     </div>
    </div>
  </div>
</div>

</div>
  <div id="toTop">
    <backtotop></backtotop>
  </div>
</div>
</body>
{%endraw%}  

<script type="text/x-template" id="backtotop">
  <button class="goTop" v-if="isVisible" @click="backToTop">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
  </button>
</script>

<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
<script src="{{ url_for('static', filename='postlist.js')}}"></script>
{% endblock %} {# [END form] #}