{# [START form] #} {% extends "header.html"%} {% block content %}


{% if buyer %}
<h1 class="mt-4">Buyer Post Details</h1>      
{% endif %}
{% if seller %}
<h1 class="mt-4">Seller Post Details</h1>
{% endif %}
<hr>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6 text-left" style="width:500px; height:500px">
        <!-- Preview Image -->
        {% if post.image %}
        <img src="data:;base64,{{ post.image }}"  style="width:500px"/>
        {% else %}
        <img src="http://via.placeholder.com/500"  style="width:500px"/>
        {% endif %}
    </div>
      
    <div class="col-sm-6">
      <div class="row">

        <p hidden>postId={{post.postId}}#</p>
        <div class="col-sm-8">
          <h1 id="post-title" style="display:inline-block;" >{{post.title}}</h1>
            <b-dropdown id="more-button" variant="link" size="lg" style="vertical-align: Top; padding-top: 0px" no-caret>
              <template slot="button-content">
                <!-- &#x1f50d; -->
                <i class="fas fa-ellipsis-h"></i>
              </template>
              {% if post.buyerName %}
              <b-dropdown-item href="/editpost?postType=Buyer&postId={{post.postId}}">Edit</b-dropdown-item>
              {% endif %}
              {% if post.sellerName %}
              <b-dropdown-item href="/editpost?postType=Seller&postId={{post.postId}}">Edit</b-dropdown-item>
              {% endif %}
              {% if post.buyerName %}
              <b-dropdown-item data-toggle="modal" data-target="#delete_window" href="#">Delete</b-dropdown-item>
              {% endif %}
              {% if post.sellerName %}
              <b-dropdown-item data-toggle="modal" data-target="#delete_window" href="#">Delete</b-dropdown-item>
              {% endif %}
            </b-dropdown>




            {% if seller %}
            <span id="favoriteBtn" class="invisible">
            {% else %}
            <span id="favoriteBtn" class="invisible">
            {% endif %}
              <span v-if="is_favorite===undefined">
                {% if post.favorite == true %}
                <span  class="buttons_favorite">
                  {% if buyer %}
                  <button v-on:click="deleteFavorite('Buyer', {{post.postId}})" class="heart_favorite"><i style="width:13px;height:16px padding-top:0px" class="fa fa-heart"></i></button>
                  {% endif %}
                  {% if seller %}
                  <button v-on:click="deleteFavorite('Seller', {{post.postId}})" class="heart_favorite"><i style="width:13px;height:16px padding-top:0px" class="fa fa-heart"></i></button>
                  {% endif %}
                </span>
                {% else %}
                <span class="buttons_not_favorite">
                  {% if buyer %}
                  <button v-on:click="addFavorite('Buyer', {{post.postId}})" class="heart_not_favorite"><i style="width:13px;height:16px padding-top:0px" class="fa fa-heart"></i></button>
                  {% endif %}
                  {% if seller %}
                  <button v-on:click="addFavorite('Seller', {{post.postId}})" class="heart_not_favorite"><i style="width:13px;height:16px padding-top:0px" class="fa fa-heart"></i></button>
                  {% endif %}
                </span>
                {% endif %}
              </span>
              <span v-else-if="is_favorite===true">
                <span class="buttons_favorite">
                  {% if buyer %}
                  <button v-on:click="deleteFavorite('Buyer', {{post.postId}})" class="heart_favorite"><i style="width:13px;height:16px padding-top:0px" class="fa fa-heart" ></i></button>
                  {% endif %}
                  {% if seller %}
                  <button v-on:click="deleteFavorite('Seller', {{post.postId}})" class="heart_favorite"><i style="width:13px;height:16px padding-top:0px" class="fa fa-heart"></i></button>
                  {% endif %}
                </span>
              </span>
              <span v-else>
                <span class="buttons_not_favorite">
                  {% if buyer %}
                  <button v-on:click="addFavorite('Buyer', {{post.postId}})" class="heart_not_favorite"><i style="width:13px;height:16px" class="fa fa-heart"></i></button>
                  {% endif %}
                  {% if seller %}
                  <button v-on:click="addFavorite('Seller', {{post.postId}})" class="heart_not_favorite"><i style="width:13px;height:16px" class="fa fa-heart"></i></button>
                  {% endif %}
                </span>
              </span>
            </span>
          </span>

        </div>

        <div id="delete_window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                 <h3>Delete Post</h3>
              </div>
              <div class="modal-body">
                <p>You are about to delete the post.</p>
                <p>Do you want to proceed?</p>
              </div>
              <div class="modal-footer">
              {% if post.buyerName %}
              <button v-on:click="delete_post('Buyer', {{post.postId}})" id="btnYes" class="btn btn-danger">Yes</button>
              {% endif %}
              {% if post.sellerName %}
              <button v-on:click="delete_post('Seller', {{post.postId}})" id="btnYes" class="btn btn-danger">Yes</button>
              {% endif %}
              <button data-dismiss="modal" aria-hidden="true" class="btn btn-secondary">No</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          {% if post.price %}
          <h1 class="float-right text-danger">${{post.price}}</h1>
          {% else %}
          <h3 class="my-2 float-right text-danger">Not Specify</h3>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <p id="post-date">
            {% if buyer %}
            <i class="fas fa-user"></i>
            <a id="poster" href="{{'UserInfo?username=%s' %post.buyerName}}"> 
            {{post.buyerName}}
            </a>
            {% endif %} 
            {% if seller %}
            <i class="fas fa-user"></i>
            <a id="poster" href="{{'UserInfo?username=%s' %post.sellerName}}"> 
            {{post.sellerName}} 
            </a>
            {% endif %}
            - {{post.time}}
          </p>
        </div>

        {% if post.location %}
        <div class="col-sm-3">
          <a href="#">{{post.location}}</a>
        </div>
        <div class="col-sm-2">
          <a class="float-right" href="#">{{post.category}}</a>
        </div>
        {% else %}
        <div class="col-sm-5">
          <a class="float-right" href="#">{{post.category}}</a>
        </div>
        {% endif %}
      </div>
      <hr>
      <strong>Description : </strong>
      <textarea readonly class="form-control-plaintext unwriteable-text text-left" style=" resize: none;min-height:300px;">{{post.description}}</textarea>
      
      {% if seller %}
      {% if username != post.sellerName %}
      <div id="checkbutton" class="btn btn-primary btn-lg float-center" v-on:click="checkout" role="button" style="position:absolute; bottom: 0px; width: 40%; margin-left: 30%;margin-right: 30%">Buy
      </div>
      {% endif %} 
      <div id="checkbutton"></div>
      {% endif %} 

  </div>
</div>


<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
<script src="static/postdetail.js"></script>
{% endblock %} {# [END form] #}