{# [START form] #} {% extends "header.html"%} {% block content %}

<div class="container my-5" style="max-width:75%">
    {% if buyer %}
    <form method="POST" class="needs-validation container-fluid formObj" enctype="multipart/form-data" novalidate action="/NewBuyerPost">
    {% endif %}
    {% if seller %}
    <form method="POST" class="needs-validation container-fluid formObj" enctype="multipart/form-data" novalidate action="/NewSellerPost" >
    {% endif %}

    {% if buyer %}
    <h1 class="section-header">Create a Buying Post</h1>
    {% endif %}

    {% if seller %}
    <h1 class="section-header">Create a Selling Post</h1>
    {% endif %}

    {% if error %}
    <div class="alert alert-danger" role="alert">{{error}}</div>
    {% endif %}
    
    <div class="form-group">
        <label> *Title</label>
        {% if buyer %}
        <input type="text" class="form-control" placeholder="Title for what you want to buy" required name="title">
        {% endif %}

        {% if seller %}
        <input type="text" class="form-control" placeholder="Title for what you want to sell" required name="title">
        {% endif %}
       
        <div class="invalid-feedback">
            Title should not be empty
        </div>
    </div>

    <div class="form-group">
        <label for="category">Category</label>
        <select name="category" class="form-control">
            <option>Beauty</option>
            <option>Books</option>
            <option>Electronics</option>
            <option>Clothing</option>
            <option>Accessories</option>
            <option>Health</option>
            <option>Kitchen</option>
            <option>Music</option>
            <option>Software</option>
            <option>Outdoor</option>
            <option>Furniture</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Price">Price</label>
        <input class="form-control" placeholder="0$" name="price">
    </div>
    <div class="form-group">
        <label for="location">Location</label>
        <input type="location" class="form-control" id="location" placeholder="Prefer deal location" name="location">
    </div>

    <div class="form-group">
        <label for="description">*Description</label>
        <textarea class="form-control" id="description" placeholder="Enter Your Description" name="description" style="resize: none;min-height:150px;max-height: 150px" required></textarea>
        <div class="invalid-feedback">
            Description should not be empty
        </div>
    </div>

    <div class="form-group" id="uploadImage">
        <label for="image">Image</label>
        <div class="custom-file" id="customFile" lang="es">
            <input type="file" class="custom-file-input" id="InputImage" aria-describedby="fileHelp" name="image" @change="updateFile">
            <label class="custom-file-label" for="exampleInputFile">
                {% raw %}
                {{imageName}}
                {% endraw %}
            </label>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" style="min-width:20%" type="submit">Post</button>
    </div>
    </form>
</div>

<script src="{{ url_for('static', filename='buyer-post.js')}}"></script>
{% endblock %} {# [END form] #}