{# [START form] #} {% extends "header.html"%} {% block content %}
<script src="static/postdetail.js"></script>
<body>

{% if buyer %}
<h1 class="mt-4">Buyer Post Details</h1>      
{% endif %}
{% if seller %}
<h1 class="mt-4">Seller Post Details</h1>
{% endif %}
<hr>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6 text-left" style="width:500px; height:500px">
        <!-- Preview Image -->
        {% if post.image %}
        <img src="data:;base64,{{ post.image }}"  style="width:500px"/>
        {% else %}
        <img src="http://via.placeholder.com/500"  style="width:500px"/>
        {% endif %}
    </div>
      
    <div class="col-sm-6">
      <div class="row">

          <p hidden>postId={{post.postId}}#</p>
        <div class="col-sm-8">
          <h1 id="post-title">{{post.title}}</h1>
        </div>
        <div class="col-sm-4">
          {% if post.price %}
          <h1 class="float-right text-danger">${{post.price}}</h1>
          {% else %}
          <h3 class="my-2 float-right text-danger">Not Specify</h3>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <p id="post-date">
            {% if buyer %}
            <i class="fas fa-user"></i>
            <a id="poster" href="{{'UserInfo?username=%s' %post.buyerName}}"> 
            {{post.buyerName}}
            </a>
            {% endif %} 
            {% if seller %}
            <i class="fas fa-user"></i>
            <a id="poster" href="{{'UserInfo?username=%s' %post.sellerName}}"> 
            {{post.sellerName}} 
            </a>
            {% endif %}
            - {{post.time}}
          </p>
        </div>

        {% if post.location %}
        <div class="col-sm-3">
          <a href="#">{{post.location}}</a>
        </div>
        <div class="col-sm-2">
          <a class="float-right" href="#">{{post.category}}</a>
        </div>
        {% else %}
        <div class="col-sm-5">
          <a class="float-right" href="#">{{post.category}}</a>
        </div>
        {% endif %}
      </div>
      <hr>
      <strong>Description : </strong>
      <textarea readonly class="form-control-plaintext unwriteable-text text-left" style=" resize: none;min-height:300px;">{{post.description}}</textarea>

      {% if seller %}
      <div id="checkbutton" class="btn btn-primary btn-lg float-center" v-on:click="checkout" role="button" style="position:absolute; bottom: 0px; width: 40%; margin-left: 30%;margin-right: 30%">Buy
      </div>
      {% endif %} 

      {% if seller %}
      <div id="favoriteBtn" class="invisible" style="position:absolute; bottom: -5px; width: 40%; margin-left: 72%;">
      {% else %}
      <div id="favoriteBtn" class="invisible" style="position:absolute; bottom: -5px; width: 40%; margin-left: 50%;">
      {% endif %}
        <div v-if="is_favorite===undefined">
          {% if post.favorite == true %}
          <div  class="buttons_favorite my-2">
            {% if buyer %}
            <button v-on:click="deleteFavorite('Buyer', {{post.postId}})" class="heart_favorite"><i class="fa fa-heart"></i></button>
            {% endif %}
            {% if seller %}
            <button v-on:click="deleteFavorite('Seller', {{post.postId}})" class="heart_favorite"><i class="fa fa-heart"></i></button>
            {% endif %}
          </div>
          {% else %}
          <div class="buttons_not_favorite my-2">
            {% if buyer %}
            <button v-on:click="addFavorite('Buyer', {{post.postId}})" class="heart_not_favorite"><i class="fa fa-heart"></i></button>
            {% endif %}
            {% if seller %}
            <button v-on:click="addFavorite('Seller', {{post.postId}})" class="heart_not_favorite"><i class="fa fa-heart"></i></button>
            {% endif %}
          </div>
          {% endif %}
        </div>
        <div v-else-if="is_favorite===true">
          <div class="buttons_favorite my-2">
            {% if buyer %}
            <button v-on:click="deleteFavorite('Buyer', {{post.postId}})" class="heart_favorite"><i class="fa fa-heart"></i></button>
            {% endif %}
            {% if seller %}
            <button v-on:click="deleteFavorite('Seller', {{post.postId}})" class="heart_favorite"><i class="fa fa-heart"></i></button>
            {% endif %}
          </div>
        </div>
        <div v-else>
          <div class="buttons_not_favorite my-2">
            {% if buyer %}
            <button v-on:click="addFavorite('Buyer', {{post.postId}})" class="heart_not_favorite"><i class="fa fa-heart"></i></button>
            {% endif %}
            {% if seller %}
            <button v-on:click="addFavorite('Seller', {{post.postId}})" class="heart_not_favorite"><i class="fa fa-heart"></i></button>
            {% endif %}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %} {# [END form] #}