{# [START form] #} {% extends "header.html"%} {% block content %}
<script src="static/dist/bootstrap-table.min.js"></script>
<link rel="stylesheet" href="static/dist/bootstrap-table.min.css"></link>

<br>

<div id="user-info" class="panel-body tab-content" style="min-height:75vh">
    <div class="row">
        <ul class="nav  nav-fill nav-pills" style="min-width: 1100px;max-width: 1100px">
          <li class="nav-item">
            <a class="nav-link active" href="#on-sell-tab" data-toggle="tab"  style="border: 1px solid #e1e2e5; rounded;min-width: 363px">Items for Sale</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#in-need-tab" v-on:click="query_in_need_info()" data-toggle="tab"  style="border: 1px solid #e1e2e5; rounded;min-width: 364px">Items in Need</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#review-tab" v-on:click="query_review_info()" data-toggle="tab"  style="border: 1px solid #e1e2e5; rounded;min-width: 363px">Reviews</a>
          </li>
        </ul>
    </div>
    <div class="row">
      <div class="col-md-12" style="border: 1px solid #e1e2e5; rounded; min-width: 1100px;max-width: 1100px">

        <div id="myTabContent" class="tab-content">
          <div id="on-sell-tab" class="tab-pane in active">
            <div style="margin-top:5vh;margin-left:auto;margin-right:auto;">
                <div   >
                  <i class="fas fa-user mx-2" style="font-size: 30px;"></i>
                  <h1 id="user-name" style="display:inline;">{{username}}</h1>
                </div>

                <div class="my-4 mx-2" style="font-size: 16px;">
                  <i class="fas fa-comments" style="font-size: 12px;"></i>
                  <a style="display:inline" href="/portal?contact={{username}}&section=message" >Contact me</a>
                </div>

                <div class="my-4 mx-2" style="font-size: 16px;">
                  <i class="fas fa-tags" style="font-size: 12px;"></i>
                  <p style="display:inline;">Rating : </p>
                  {% if (rating == 0) or (rating == None)%}
                  <span>
                    <p style="display:inline;">No review</p>
                  </span>
                  {% else %}
                  <span>
                    <i style="display:inline;" class="bold mx-1">{{'%0.1f'| format(rating|float)}} <small>/ 5</small></i>
                  </span>
                  
                    {% if 1 <= rating %}
                    <button type="button" class="button_unclick btn btn-warning btn-sm" aria-label="Left Align" >
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>
                    {% else %}
                    <button type="button" class="button_unclick btn btn-warning btn-grey btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>

                    {% endif %}
                    {% if 2 <= rating %}
                    <button type="button" class="button_unclick btn btn-warning btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>
                    {% else %}
                    <button type="button" class="button_unclick btn btn-warning btn-grey btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>
                    {% endif %}

                    {% if 3 <= rating %}
                    <button type="button" class="button_unclick btn btn-warning btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>
                    {% else %}
                    <button type="button" class="button_unclick btn btn-warning btn-grey  btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>

                    {% endif %}
                    {% if 4 <= rating %}
                    <button type="button" class="button_unclick btn btn-warning btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>
                    {% else %}
                    <button type="button" class="button_unclick btn btn-warning btn-grey  btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>

                    {% endif %}
                    {% if 5 <= rating %}
                    <button type="button" class="button_unclick btn btn-warning btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>
                    {% else %}
                    <button type="button" class="button_unclick btn btn-warning btn-grey  btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>
                    {% endif %}

                  {% endif %}
                </div>
              </div>
              <div>

{%raw%}
        <div class="row my-3">
            <div class="col-sm-12">
                <hr/>

      <div v-if="on_sell_items === 'null'">
        <h2 class="text-center">Loading, please wait...</h2>
      </div>
          <div v-else-if="on_sell_items.length === 0 || on_sell_items === undefined || on_sell_items === 'None'">
        <h2 class="text-center">User has nothing on sell.</h2>
      </div>
      <div v-else id="postitem" class="mt-3">
        <div v-for="(on_sell_item, index) in on_sell_items">
          <div class="card mt-2">
            <div class="row">
              <div class="col-6">
                <div>
                  <div class="mx-3 my-2" v-if="on_sell_item.buyerName" >
                    <h2>
                    <a class="card-title hide_overflow" v-bind:href="'BuyerPost\?postId=' + on_sell_item.postId">
                      {{on_sell_item.title}}
                    </a>
                    </h2>
                    <div class="text-left">
                      <span class="badge badge-pill badge-success">Need</span>
                    </div>
                  </div>
                  <div class="mx-3 my-2"  v-else-if="on_sell_item.sellerName">
                    <h2>
                    <a class="card-title hide_overflow" v-bind:href="'SellerPost\?postId=' + on_sell_item.postId">
                      {{on_sell_item.title}}
                    </a>
                    </h2>
                    <div class="text-left" >
                      <span class="badge badge-pill badge-warning">For Sale</span>
                    </div>
                  </div>
                  <p class="card-text hide_overflow mx-3" >
                    <strong> Description : </strong> {{on_sell_item.description}}
                  </p>
                </div>
              </div>
              <div class="col-3">
                <p class="row text-left my-3">Category : &nbsp
                  <a href="#"> {{on_sell_item.category}}</a>
                </p> 
                <p v-if="on_sell_item.location" class="row text-left">Location : &nbsp
                  <a href="#"> {{on_sell_item.location}}</a>
                </p>
                <p class="row text-left">{{on_sell_item.time}}</p>
              </div>
              <div class="col-3">
                <h4 class="text-danger">
                  <p v-if="on_sell_item.price" class="text-right  mx-3 my-3">
                    ${{on_sell_item.price}}
                  </p>
                  <p v-else class="text-right  mx-3 my-3">
                    Not Specify
                  </p>
                </h4>
                <p v-if="on_sell_item.buyerName" class="text-right mx-3">
                  <i class="fas fa-user mx-1"></i>
                  <a v-bind:href="'UserInfo\?username=' + on_sell_item.buyerName"> {{on_sell_item.buyerName}}</a>
                </p>
                <p v-else-if="on_sell_item.sellerName" class="text-right mx-3">
                  <i class="fas fa-user mx-1"></i>
                  <a v-bind:href="'UserInfo\?username=' + on_sell_item.sellerName"> {{on_sell_item.sellerName}}</a>
                </p>
              </div>
            </div>
          <div class="row">
            <div class="col">
              <p class="card-text">
                <div v-if="on_sell_item.image" class="product_image2 mx-3 my-1">
                  <a v-if="on_sell_item.buyerName" v-bind:href="'BuyerPost\?postId=' + on_sell_item.postId">
                    <img v-bind:src="'data:image/jpeg;base64,'+on_sell_item.image" />
                  </a>
                  <a v-else-if="on_sell_item.sellerName" v-bind:href="'SellerPost\?postId=' + on_sell_item.postId">
                    <img v-bind:src="'data:image/jpeg;base64,'+on_sell_item.image" />
                  </a>
                  <div v-if="on_sell_item.favorite === true">
                    <div class="product_buttons_favorite text-center">
                      <button v-if="on_sell_item.buyerName" v-on:click="deleteFavorite('Buyer', on_sell_item.postId)" class="product_heart_favorite"><i class="fa fa-heart"></i></button>
                      <button v-else-if="on_sell_item.sellerName" v-on:click="deleteFavorite('Seller', on_sell_item.postId)" class="product_heart_favorite"><i class="fa fa-heart"></i></button>
                    </div>
                  </div>
                  <div v-else>
                    <div class="product_buttons text-center">
                      <button v-if="on_sell_item.buyerName" v-on:click="addFavorite('Buyer', on_sell_item.postId)" class="product_heart"><i class="fa fa-heart"></i></button>
                      <button v-else-if="on_sell_item.sellerName" v-on:click="addFavorite('Seller', on_sell_item.postId)" class="product_heart"><i class="fa fa-heart"></i></button>
                    </div>
                  </div>
                </div>
              </p>
              </div>
            </div>
          </div>
          </div>
        </div>




            </div>
        </div>

{%endraw%}

              </div>
            </div>


          <div id="in-need-tab" class="tab-pane fade">
            

            <div style="margin-top:5vh;margin-left:auto;margin-right:auto;">
                <div   >
                  <i class="fas fa-user mx-2" style="font-size: 30px;"></i>
                  <h1 id="user-name" style="display:inline;">{{username}}</h1>
                </div>
                <div class="my-4 mx-2" style="font-size: 16px;">
                  <i class="fas fa-comments" style="font-size: 12px;"></i>
                  <a style="display:inline" href="/portal?contact={{username}}&section=message" >Contact me</a>
                </div>
                <div class="my-4 mx-2" style="font-size: 16px;">
                  <i class="fas fa-tags" style="font-size: 12px;"></i>
                  <p style="display:inline;">Rating : </p>
                  {% if (rating == 0) or (rating == None)%}
                  <span>
                    <p style="display:inline;">No review</p>
                  </span>
                  {% else %}
                  <span>
                    <i style="display:inline;" class="bold mx-1">{{'%0.1f'| format(rating|float)}} <small>/ 5</small></i>
                  </span>
                  
                    {% if 1 <= rating %}
                    <button type="button" class="button_unclick btn btn-warning btn-sm" aria-label="Left Align" >
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>
                    {% else %}
                    <button type="button" class="button_unclick btn btn-warning btn-grey btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>

                    {% endif %}
                    {% if 2 <= rating %}
                    <button type="button" class="button_unclick btn btn-warning btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>
                    {% else %}
                    <button type="button" class="button_unclick btn btn-warning btn-grey btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>
                    {% endif %}

                    {% if 3 <= rating %}
                    <button type="button" class="button_unclick btn btn-warning btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>
                    {% else %}
                    <button type="button" class="button_unclick btn btn-warning btn-grey  btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>

                    {% endif %}
                    {% if 4 <= rating %}
                    <button type="button" class="button_unclick btn btn-warning btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>
                    {% else %}
                    <button type="button" class="button_unclick btn btn-warning btn-grey  btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>

                    {% endif %}
                    {% if 5 <= rating %}
                    <button type="button" class="button_unclick btn btn-warning btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>
                    {% else %}
                    <button type="button" class="button_unclick btn btn-warning btn-grey  btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>
                    {% endif %}

                  {% endif %}
                </div>
              </div>

              <div>

{%raw%}
        <div class="row my-3">
            <div class="col-sm-12">
                <hr/>



      <div v-if="in_need_items === 'null'">
        <h2 class="text-center">Loading, please wait...</h2>
      </div>
      <div v-else-if="in_need_items.length === 0 || in_need_items === undefined || in_need_items === 'None'">
        <h2 class="text-center">User has nothing in need.</h2>
      </div>
      <div v-else id="postitem" class="mt-3">
        <div v-for="(in_need_item, index) in in_need_items">
          <div class="card mt-2">
            <div class="row">
              <div class="col-6">
                <div>
                  <div class="mx-3 my-2" v-if="in_need_item.buyerName" >
                    <h2>
                    <a class="card-title hide_overflow" v-bind:href="'BuyerPost\?postId=' + in_need_item.postId">
                      {{in_need_item.title}}
                    </a>
                    </h2>
                    <div class="text-left">
                      <span class="badge badge-pill badge-success">Need</span>
                    </div>
                  </div>
                  <div class="mx-3 my-2"  v-else-if="in_need_item.sellerName">
                    <h2>
                    <a class="card-title hide_overflow" v-bind:href="'SellerPost\?postId=' + in_need_item.postId">
                      {{in_need_item.title}}
                    </a>
                    </h2>
                    <div class="text-left" >
                      <span class="badge badge-pill badge-warning">For Sale</span>
                    </div>
                  </div>
                  <p class="card-text hide_overflow mx-3" >
                    <strong> Description : </strong> {{in_need_item.description}}
                  </p>
                </div>
              </div>
              <div class="col-3">
                <p class="row text-left my-3">Category : &nbsp
                  <a href="#"> {{in_need_item.category}}</a>
                </p> 
                <p v-if="in_need_item.location" class="row text-left">Location : &nbsp
                  <a href="#"> {{in_need_item.location}}</a>
                </p>
                <p class="row text-left">{{in_need_item.time}}</p>
              </div>
              <div class="col-3">
                <h4 class="text-danger">
                  <p v-if="in_need_item.price" class="text-right  mx-3 my-3">
                    ${{in_need_item.price}}
                  </p>
                  <p v-else class="text-right  mx-3 my-3">
                    Not Specify
                  </p>
                </h4>
                <p v-if="in_need_item.buyerName" class="text-right mx-3">
                  <i class="fas fa-user mx-1"></i>
                  <a v-bind:href="'UserInfo\?username=' + in_need_item.buyerName"> {{in_need_item.buyerName}}</a>
                </p>
                <p v-else-if="in_need_item.sellerName" class="text-right mx-3">
                  <i class="fas fa-user mx-1"></i>
                  <a v-bind:href="'UserInfo\?username=' + in_need_item.sellerName"> {{in_need_item.sellerName}}</a>
                </p>
              </div>
            </div>
          <div class="row">
            <div class="col">
              <p class="card-text">
                <div v-if="in_need_item.image" class="product_image2 mx-3 my-1">
                  <a v-if="in_need_item.buyerName" v-bind:href="'BuyerPost\?postId=' + in_need_item.postId">
                    <img v-bind:src="'data:image/jpeg;base64,'+in_need_item.image" />
                  </a>
                  <a v-else-if="in_need_item.sellerName" v-bind:href="'SellerPost\?postId=' + in_need_item.postId">
                    <img v-bind:src="'data:image/jpeg;base64,'+in_need_item.image" />
                  </a>
                  <div v-if="in_need_item.favorite === true">
                    <div class="product_buttons_favorite text-center">
                      <button v-if="in_need_item.buyerName" v-on:click="deleteFavorite('Buyer', in_need_item.postId)" class="product_heart_favorite"><i class="fa fa-heart"></i></button>
                      <button v-else-if="in_need_item.sellerName" v-on:click="deleteFavorite('Seller', in_need_item.postId)" class="product_heart_favorite"><i class="fa fa-heart"></i></button>
                    </div>
                  </div>
                  <div v-else>
                    <div class="product_buttons text-center">
                      <button v-if="in_need_item.buyerName" v-on:click="addFavorite('Buyer', in_need_item.postId)" class="product_heart"><i class="fa fa-heart"></i></button>
                      <button v-else-if="in_need_item.sellerName" v-on:click="addFavorite('Seller', in_need_item.postId)" class="product_heart"><i class="fa fa-heart"></i></button>
                    </div>
                  </div>
                </div>
              </p>
              </div>
            </div>
          </div>
          </div>
        </div>







            </div>
        </div>

{%endraw%}
</div>
</div>

          <div id="review-tab" class="tab-pane fade">
            

            <div style="margin-top:5vh;margin-left:auto;margin-right:auto;">
                <div>
                  <i class="fas fa-user mx-2" style="font-size: 30px;"></i>
                  <h1 id="user-name" style="display:inline;">{{username}}</h1>
                </div>
                <div class="my-4 mx-2" style="font-size: 16px;">
                  <i class="fas fa-comments" style="font-size: 12px;"></i>
                  <a style="display:inline" href="/portal?contact={{username}}&section=message" >Contact me</a>
                </div>
                <div class="my-4 mx-2" style="font-size: 16px;">
                  <i class="fas fa-tags" style="font-size: 12px;"></i>
                  <p style="display:inline;">Rating : </p>
                  {% if (rating == 0) or (rating == None)%}
                  <span>
                    <p style="display:inline;">No review</p>
                  </span>
                  {% else %}
                  <span>
                    <i style="display:inline;" class="bold mx-1">{{'%0.1f'| format(rating|float)}} <small>/ 5</small></i>
                  </span>
                  
                    {% if 1 <= rating %}
                    <button type="button" class="button_unclick btn btn-warning btn-sm" aria-label="Left Align" >
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>
                    {% else %}
                    <button type="button" class="button_unclick btn btn-warning btn-grey btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>

                    {% endif %}
                    {% if 2 <= rating %}
                    <button type="button" class="button_unclick btn btn-warning btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>
                    {% else %}
                    <button type="button" class="button_unclick btn btn-warning btn-grey btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>
                    {% endif %}

                    {% if 3 <= rating %}
                    <button type="button" class="button_unclick btn btn-warning btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>
                    {% else %}
                    <button type="button" class="button_unclick btn btn-warning btn-grey  btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>

                    {% endif %}
                    {% if 4 <= rating %}
                    <button type="button" class="button_unclick btn btn-warning btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>
                    {% else %}
                    <button type="button" class="button_unclick btn btn-warning btn-grey  btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>

                    {% endif %}
                    {% if 5 <= rating %}
                    <button type="button" class="button_unclick btn btn-warning btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>
                    {% else %}
                    <button type="button" class="button_unclick btn btn-warning btn-grey  btn-sm" aria-label="Left Align">
                      <span class="far fa-star" aria-hidden="true"></span>
                    </button>
                    {% endif %}

                  {% endif %}
                </div>
              </div>

              <!--
              <label class="badge badge-pill badge-info my-2 text-right" >Receive 
                <span class="badge badge-pill badge-light">{{rating_count}}</span> reviews
              </label>
              -->       

              <div>

{%raw%}
        <div class="row my-3">
            <div class="col-sm-12">
                <hr/>
                <div v-if="reviews === 'null'">
                  <h2 class="text-center">Loading, please wait...</h2>
                </div>
                <div v-else-if="reviews.length === 0 || reviews === undefined || reviews === 'None'">
                    <h2 class="text-center">User has not received any review.</h2>
                </div>
                <div  v-else v-for="(review, index) in reviews">



          <div class="card mt-2">
            <div class="row">
                        <div class="col-sm-3">
                            <div class="review-block-name mx-3" style="font-size:30px"><a v-bind:href="'UserInfo\?username=' + review.reviewer">{{review.reviewer}}</a></div>
                            <div class="review-block-rate mx-3">
                              <span v-if="review.rating === 'null'">
                              </span>
                              <span v-else>
                                <button v-if="1 <= review.rating" type="button" class="button_unclick btn btn-warning btn-sm" aria-label="Left Align">
                                  <span class="far fa-star" aria-hidden="true"></span>
                                </button>
                                <button v-else type="button" class="button_unclick btn btn-warning btn-grey  btn-sm" aria-label="Left Align">
                                  <span class="far fa-star" aria-hidden="true"></span>
                                </button>

                                <button v-if="2 <= review.rating" type="button" class="button_unclick btn btn-warning btn-sm" aria-label="Left Align">
                                  <span class="far fa-star" aria-hidden="true"></span>
                                </button>
                                <button v-else type="button" class="button_unclick btn btn-warning btn-grey  btn-sm" aria-label="Left Align">
                                  <span class="far fa-star" aria-hidden="true"></span>
                                </button>

                                <button v-if="3 <= review.rating" type="button" class="button_unclick btn btn-warning btn-sm" aria-label="Left Align">
                                  <span class="far fa-star" aria-hidden="true"></span>
                                </button>
                                <button v-else type="button" class="button_unclick btn btn-warning btn-grey  btn-sm" aria-label="Left Align">
                                  <span class="far fa-star" aria-hidden="true"></span>
                                </button>

                                <button v-if="4 <= review.rating" type="button" class="button_unclick btn btn-warning btn-sm" aria-label="Left Align">
                                  <span class="far fa-star" aria-hidden="true"></span>
                                </button>
                                <button v-else type="button" class="button_unclick btn btn-warning btn-grey  btn-sm" aria-label="Left Align">
                                  <span class="far fa-star" aria-hidden="true"></span>
                                </button>

                                <button v-if="5 <= review.rating" type="button" class="button_unclick btn btn-warning btn-sm" aria-label="Left Align">
                                  <span class="far fa-star" aria-hidden="true"></span>
                                </button>
                                <button v-else type="button" class="button_unclick btn btn-warning btn-grey  btn-sm" aria-label="Left Align">
                                  <span class="far fa-star" aria-hidden="true"></span>
                                </button>
                            </span>
                            </div>
                            <div class="review-block-time my-2  mx-3 bold">{{review.orderTitle}}</div>
                            <div class="review-block-time my-2  mx-3">{{review.time}}<br/></div>
                        </div>
                        <div class="col-sm-6 my-3">
                            <div class="review-block-description">{{review.content}}</div>
                        </div>
                    </div>
                   </div>




                </div>
                </div>
            </div>
        </div>

{%endraw%}
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<script src="static/user_information.js"></script>
{% endblock %} {# [END form] #}