.form-gap {
    padding-top: 70px;
}

.header{
    margin: 20px 0 20px 0;
}

.forgetpasswd{
    text-align: right;
}

.loginBtn{
    min-width:40% !important;
}

.signupBtn{
    min-width:40% !important;
}

.resetBtn{
    min-width:40% !important;
}


.formObj{
    width:41%; margin-bottom: 20px !important;
}

.custom_row{
    margin-top:20px;
}

.send-btn{
    min-width:40% !important;
}
    
.notification{
    text-align: ;
    width:80%; margin-bottom: 20px !important;
}